@model int[]

@{ 
    int i = Model[1];
    int j = Model[0];
}
<tr id="tr_@(j)_@i" class="tabl" mouseout="List.Get(@i).OnblurTr(@j)" tabindex="0">
    <td id="td_frst_@(j)_@i" class="tabl">
        <label id="td_lbl0_@(j)_@i" class="tdLbl0" hidden></label>
        <input id="td_inpt0_@(j)_@i" class="tdinpt0" type="text" size="10"
               onblur="List.Get(@i).CheckTd0(@j)"/>
    </td>
    <td id="td_sec_@(j)_@i" class="tabl" onclick="List.Get(@i).ClickTd1(@j)">
        <label id="td_lbl1_@(j)_@i" class="tdLbl1" hidden></label>
        <input id="td_inpt1_@(j)_@i" class="tdinpt1" type="number" max="99" min="0"
               onblur="List.Get(@i).CheckTd1(@j)" onfocus="List.Get(@i).PressTd1(@j)"/>
    </td>
    <td id="td_thrd_@(j)_@i">
        <button id="td_suc_@(j)_@i" class="tdbtn" onclick="List.Get(@i).Success(@j)">Готово</button>
        <button id="td_edit_@(j)_@i" class="tdbtn" onclick="List.Get(@i).Edit(@j)" hidden>Изменить</button>
        <button id="td_del_@(j)_@i" class="tdbtn" onclick="List.Get(@i).Delete(@j)" hidden>Удалить</button>
        <button id="td_canc_@(j)_@i" class="tdbtn" onclick="List.Get(@i).Cancel(@j)">Отмена</button>
    </td>
</tr>
